footer {
text-align: center;
background-color: white;
padding-top: 60px;
margin: 0 7px;
}




footer section{margin: 30px 25px;}
footer section i {
    margin-bottom: 10px;
    font-size: 2em;
    color: var(--color-celeste);
}

.copy{
    margin-left: -50px;
    padding-bottom: 20px;
}

